.myReg{
  border: 2px black;
  border-style: solid ;
  border-color: #333;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 300px;
  margin-bottom: 30px
  
}

body{
  background-color: aquamarine !important;

}